.App-background {
  min-height: 100vh;
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  */
  /*
  font-size: calc(10px + 2vmin);
  */
  font-size: medium;
  padding-bottom: 20px;
  white-space: pre-line;
  vertical-align: bottom;
}

@media (max-width: 575px) {
  /*767*/
  #scrollableText {
    overflow-y: visible !important;
    max-height: fit-content !important;
  }
}

#scrollableText::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.titlePages {
  color: #9ba4b5;
}

.light-mode {
  background-color: #f1f6f9;
  color: #212a3e;
}

.dark-mode {
  background-color: #212a3e;
  color: #f1f6f9 !important;
}

.header_center {
  flex-wrap: center;
  align-items: center;
}

.navbar-lightgreen {
  background-color: #9ba4b5;
}

.testolight {
  color: #212a3e !important;
}

.testodark {
  color: #f1f6f9 !important;
}

.homePage-structure {
  display: flex;
}

.homePage-bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
}
